# Grouping

In [4]:
import pandas as pd

data = {
    "Department": ["HR", "HR", "IT", "IT", "Finance", "Finance"],
    "Employee": ["A", "B", "C", "D", "E", "F"],
    "Salary": [30000, 35000, 50000, 55000, 40000, 42000]
}

a=pd.DataFrame(data)
b=a.groupby("Department")["Salary"].sum()
print(b)

Department
Finance     82000
HR          65000
IT         105000
Name: Salary, dtype: int64

## Mult Agg

In [8]:
print(a.groupby("Department")["Salary"].agg(["sum","max","min","count"]))

               sum    max    min  count
Department
Finance      82000  42000  40000      2
HR           65000  35000  30000      2
IT          105000  55000  50000      2

## By Mult columns

In [5]:

data = {
    "Department": ["HR", "HR", "IT", "IT", "Finance", "Finance"],
    "Year": [2020, 2021, 2020, 2021, 2020, 2021],
    "Salary": [30000, 35000, 50000, 55000, 40000, 42000]
}

df = pd.DataFrame(data)
a=df.groupby(["Department","Year"])["Salary"].agg(["mean","sum"])
print(a)

                    mean    sum
Department Year
Finance    2020  40000.0  40000
           2021  42000.0  42000
HR         2020  30000.0  30000
           2021  35000.0  35000
IT         2020  50000.0  50000
           2021  55000.0  55000

## By lambda function

In [6]:
b=df.groupby(["Department","Year"])["Salary"].agg(lambda x:x.mean()-x.min())
print(b)

Department  Year
Finance     2020    0.0
            2021    0.0
HR          2020    0.0
            2021    0.0
IT          2020    0.0
            2021    0.0
Name: Salary, dtype: float64

In [2]:
import pandas as pd

df1 = pd.DataFrame({
    "ID": [1, 2, 3, 4],
    "Name": ["John", "Anna", "Sam", "Diana"]
})

df2 = pd.DataFrame({
    "ID": [3, 4, 5, 6],
    "Salary": [50000, 60000, 55000, 65000]
})
merg=pd.merge(df1,df2,on="ID")
print(merg)

   ID   Name  Salary
0   3    Sam   50000
1   4  Diana   60000

In [3]:
merg=pd.merge(df1,df2,how="left")
print(merg)

   ID   Name   Salary
0   1   John      NaN
1   2   Anna      NaN
2   3    Sam  50000.0
3   4  Diana  60000.0

In [4]:
merg=pd.merge(df1,df2,how="right")
print(merg)

   ID   Name  Salary
0   3    Sam   50000
1   4  Diana   60000
2   5    NaN   55000
3   6    NaN   65000

In [5]:
merg=pd.merge(df1,df2,how="outer")
print(merg)

   ID   Name   Salary
0   1   John      NaN
1   2   Anna      NaN
2   3    Sam  50000.0
3   4  Diana  60000.0
4   5    NaN  55000.0
5   6    NaN  65000.0

In [6]:
df1 = pd.DataFrame({
    "Name": ["John", "Anna", "Sam", "Diana"]
}, index=[1, 2, 3, 4])

df2 = pd.DataFrame({
    "Salary": [50000, 60000, 55000, 65000]
}, index=[3, 4, 5, 6])

result = df1.join(df2, how="inner")
print(result)

    Name  Salary
3    Sam   50000
4  Diana   60000

In [13]:
import pandas as pd

students = pd.DataFrame({
    "StudentID": [101, 102, 103, 104],
    "Name": ["John", "Anna", "Sam", "Diana"],
    "Class": ["10A", "10B", "10A", "10B"]
})

print(students)
scores = pd.DataFrame({
    "StudentID": [102, 103, 104, 105],
    "Math": [85, 90, 78, 88],
    "Science": [92, 85, 80, 91]
})

print(scores)
mer=pd.merge(students,scores,on="StudentID",how="inner")
print(mer)

   StudentID   Name Class
0        101   John   10A
1        102   Anna   10B
2        103    Sam   10A
3        104  Diana   10B
   StudentID  Math  Science
0        102    85       92
1        103    90       85
2        104    78       80
3        105    88       91
   StudentID   Name Class  Math  Science
0        102   Anna   10B    85       92
1        103    Sam   10A    90       85
2        104  Diana   10B    78       80

In [14]:
import pandas as pd

data = {
    "Department": ["HR", "HR", "IT", "IT", "Finance", "Finance", "IT", "HR"],
    "Employee": ["John", "Anna", "Sam", "Diana", "Mike", "Sara", "Alex", "Tom"],
    "Year": [2020, 2020, 2020, 2021, 2021, 2020, 2021, 2021],
    "Salary": [30000, 35000, 50000, 55000, 40000, 42000, 60000, 32000]
}

df = pd.DataFrame(data)
print(df,"\n")
pivot = pd.pivot_table(df, values="Salary", index="Department", columns="Year", aggfunc="mean", fill_value=0)
print(pivot)

  Department Employee  Year  Salary
0         HR     John  2020   30000
1         HR     Anna  2020   35000
2         IT      Sam  2020   50000
3         IT    Diana  2021   55000
4    Finance     Mike  2021   40000
5    Finance     Sara  2020   42000
6         IT     Alex  2021   60000
7         HR      Tom  2021   32000

Year           2020     2021
Department
Finance     42000.0  40000.0
HR          32500.0  32000.0
IT          50000.0  57500.0

In [16]:
data={
    "Names": ["Amit", "Riya", "Karan"],

"Subjects": ["Math", "Science", "English"],

"Scores": [88, 92, 79]
}
df=pd.DataFrame(data)
print(df)

   Names Subjects  Scores
0   Amit     Math      88
1   Riya  Science      92
2  Karan  English      79

In [18]:
import pandas as pd

data = {
    "Name": ["John", "Sara", "Ali", "Maya"],
    "Age": [16, 17, 15, 16],
    "Marks": [45, 67, 89, 72]
}
df = pd.DataFrame(data)
print(df["Name"],"\n")
print(df[["Name","Marks"]])

0    John
1    Sara
2     Ali
3    Maya
Name: Name, dtype: object

   Name  Marks
0  John     45
1  Sara     67
2   Ali     89
3  Maya     72