In [3]:
import pandas as pd

data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eva"],
    "Age": [25, 30, 22, 28, 35],
    "Marks": [85, 92, 78, 88, 95]
}

df = pd.DataFrame(data)
print(df.head(2))

    Name  Age  Marks
0  Alice   25     85
1    Bob   30     92

In [4]:
print(df.tail(3))

      Name  Age  Marks
2  Charlie   22     78
3    David   28     88
4      Eva   35     95

In [5]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     5 non-null      int64
 2   Marks   5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 248.0+ bytes
None

In [6]:
print(df.describe())

             Age      Marks
count   5.000000   5.000000
mean   28.000000  87.600000
std     4.949747   6.580274
min    22.000000  78.000000
25%    25.000000  85.000000
50%    28.000000  88.000000
75%    30.000000  92.000000
max    35.000000  95.000000

In [13]:
print(df.size)
print(df.shape)
print(df.columns)

15
(5, 3)
Index(['Name', 'Age', 'Marks'], dtype='object')

In [16]:
data = {
    "Employee": ["John", "Anna", "Sam", "Diana", "Mike", "Sara"],
    "Department": ["HR", "IT", "Finance", "IT", "HR", "Finance"],
    "Salary": [50000, 60000, 55000, 65000, 48000, 70000],
    "Experience": [2, 5, 3, 7, 1, 6]
}
df=pd.DataFrame(data)
print(df.head(4))
print(df.tail(2))

  Employee Department  Salary  Experience
0     John         HR   50000           2
1     Anna         IT   60000           5
2      Sam    Finance   55000           3
3    Diana         IT   65000           7
  Employee Department  Salary  Experience
4     Mike         HR   48000           1
5     Sara    Finance   70000           6

In [18]:
print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Employee    6 non-null      object
 1   Department  6 non-null      object
 2   Salary      6 non-null      int64
 3   Experience  6 non-null      int64
dtypes: int64(2), object(2)
memory usage: 320.0+ bytes
None
             Salary  Experience
count      6.000000    6.000000
mean   58000.000000    4.000000
std     8602.325267    2.366432
min    48000.000000    1.000000
25%    51250.000000    2.250000
50%    57500.000000    4.000000
75%    63750.000000    5.750000
max    70000.000000    7.000000

In [21]:
print(df.shape)                                        
print(df.size)
print(df.columns)

(6, 4)
24
Index(['Employee', 'Department', 'Salary', 'Experience'], dtype='object')

In [29]:
studs={
    "Name":["Maqu","Rishika","Irfana","Maqbool","Raasi","Maaqshiki","Ponnu"],
    "Age":[14,21,60,20,20,10,8],
    "Marks":[100,80,90,70,60,100,100]
}
df=pd.DataFrame(studs)
print(df.head(5))
print(df.describe())
print(df["Marks"].mean())

      Name  Age  Marks
0     Maqu   14    100
1  Rishika   21     80
2   Irfana   60     90
3  Maqbool   20     70
4    Raasi   20     60
             Age       Marks
count   7.000000    7.000000
mean   21.857143   85.714286
std    17.591935   16.183472
min     8.000000   60.000000
25%    12.000000   75.000000
50%    20.000000   90.000000
75%    20.500000  100.000000
max    60.000000  100.000000
85.71428571428571

In [31]:
data = {
    "Name": ["Alice", "Bob", "Charlie", "David"],
    "Age": [25, 30, 22, 28],
    "Marks": [85, 92, 78, 88]
}

df = pd.DataFrame(data)
print(df["Name"])
print(df[["Name","Marks"]])

0      Alice
1        Bob
2    Charlie
3      David
Name: Name, dtype: object
      Name  Marks
0    Alice     85
1      Bob     92
2  Charlie     78
3    David     88

In [35]:
print(df.iloc[0])
print(df.iloc[0:2])
print(df.iloc[1,1])

Name     Alice
Age         25
Marks       85
Name: 0, dtype: object
    Name  Age  Marks
0  Alice   25     85
1    Bob   30     92
30

In [38]:
print(df.loc[2])
print(df.loc[1,"Name"])
print(df.loc[0:2,["Name","Marks"]])

Name     Charlie
Age           22
Marks         78
Name: 2, dtype: object
Bob
      Name  Marks
0    Alice     85
1      Bob     92
2  Charlie     78

In [45]:
print(df[1:3])
print(df.loc[1:3,"Name":"Age"])

      Name  Age  Marks
1      Bob   30     92
2  Charlie   22     78
      Name  Age
1      Bob   30
2  Charlie   22
3    David   28

In [48]:
print(df[df["Marks"]>85])
print(df[(df["Age"]>25)&(df["Marks"]>90)])

    Name  Age  Marks
1    Bob   30     92
3  David   28     88
  Name  Age  Marks
1  Bob   30     92

In [ ]:
a={
    "Name":["Maq","Bool","Raasi","Maqu","Boolee","Raz","Maqool","Maqbool","Rasi","Maqbool Raasi"],
    "Age":[20,25,24,36,38,40,45,24,21,33],
    "Salary":[30000,40000,60000,450000,34000,90000,]
}